#container{
  display: grid;
  width: 440px;
  /* height: 400px; */
  padding: 10px;
  border: 1px solid #e5e4e9;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  /* grid-auto-flow: row; */
  /* grid-auto-flow: row dense; */
  /* grid-auto-flow: column; */
  /* grid-auto-flow: column dense; */

  /* justify-items: center;
  align-items: center; */
  /* place-items: center; */
  /* justify-content: left; */

  /* justify-content:space-evenly */

  /* grid-auto-rows: 50px;  */
  /* grid-auto-flow: row dense; */
  /* grid-auto-flow: column; */

  grid-template-areas: 'a b c'
  'd e f'
  'g h i';
}

.item {
  font-size: 4em;
  text-align: center;
  border: 1px solid #e5e4e9;
}

.item-1 {
  background-color: #ef342a;

  grid-area: e;
  /* grid-column-start: 2;
  grid-column-end: 4;   */
  /* grid-area: e; */
  /* grid-column-start: span 2; */
  /* grid-row-start: 2;
  grid-row-end: 4; */
  /* grid-column-start: 1;
  grid-column-end: 3; */
  /* grid-column: 2 / span 2; */
}

.item-2 {
  background-color: #f68f26;
  /* grid-column-start: 1; */
  /* grid-column-end: 3;  */
}

.item-3 {
  /* align-self: stretch; */
  background-color: #4ba946;
}

.item-4 {
  background-color: #0376c2;
}

.item-5 {
  background-color: #c077af;
}

.item-6 {
  background-color: #f8d29d;
}

.item-7 {
  background-color: #b5a87f;
}

.item-8 {
  background-color: #d0e4a9;
  /* grid-row-start: 4; */
  /* grid-column-start:2; */

}

.item-9 {
  background-color: #4dc7ec;
  /* grid-row-start: 5;
  grid-column-start:3; */
}